<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="{{ site_description }}" />
    <title>{% block pagetitle %}{{ page_title }}{% endblock %}</title>
    <!--[if IE]><link rel="shortcut icon" href="{% asset "images/favicon.ico" %}" /><![endif]-->
    <link rel="icon" href="{% asset "images/favicon.png" %}" />
</head>
<body>

</body>
</html>